<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
    <div class="Container">
        <div class="Header">
            <h2>Terms of Service</h2>
        </div>
        <div class="Content">
            <p>Last updated: 6/4/2024</p>

            <h3>Introduction</h3>
            <p>Welcome to Mudzini Docker Swarm. These terms of service outline the rules and regulations for the use of our website and services.</p>

            <h3>Acceptance of Terms</h3>
            <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Mudzini Docker Swarm if you do not agree to all of the terms and conditions stated on this page.</p>

            <h3>Services</h3>
            <p>We offer various services through our platform. You agree to use our services only for lawful purposes and in accordance with these Terms of Service.</p>

            <h3>User Accounts</h3>
            <p>When you create an account with us, you must provide us with information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our service.</p>

            <h3>Intellectual Property</h3>
            <p>The service and its original content, features, and functionality are and will remain the exclusive property of Mudzini Docker Swarm and its licensors.</p>

            <h3>Termination</h3>
            <p>We may terminate or suspend access to our service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

            <h3>Governing Law</h3>
            <p>These terms shall be governed and construed in accordance with the laws of [Your Country], without regard to its conflict of law provisions.</p>

            <h3>Changes to Terms</h3>
            <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. What constitutes a material change will be determined at our sole discretion.</p>

            <h3>Contact Us</h3>
            <p>If you have any questions about these Terms, please contact us at:</p>
            <p>Email: mudzini@co.ke</p>
            <p>Address: 93458 olenana drive, Nairobi Kenya</p>
        </div>
        <footer class="Footer">
	<ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('privacy') }}">Privacy Policy</a></li>
                <li><a href="{{ url_for('terms') }}">Terms of Service</a></li>
            </ul>           
        </footer>
    </div>
</body>
</html>

